body {
    background-color: azure;
}

h1 {
    border: black groove;
}

/*Button based on https://www.w3schools.com/css/css3_buttons.asp*/
button {
    background-color: limegreen;
    padding: 14px 30px;
    text-align: center;
    font-size: large;
}

table, th, td {
    border: black solid 1px;
    padding: 8px;
}